.fondo{
    background-image: url("../imagenes/ba1.jpg");
}
.section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imagenes/ba1.jpg");
}
.letraImagenBa{
    font-size: 0.5rem;
}
.conoceaLos{
    text-align: center;
    font-size : 7pt;
    font-family : verdana,arial;
}
.oradores {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    font-size: 20pt;
}
.orador {
    display: flex;
    align-items: row;   
    margin-right: 2rem; 
}
.textoPunteado{
    text-decoration:underline;
    text-decoration-style: dotted;
}
.botonColor{
    background-color: rgb(150, 201, 62);
    font-size: 15pt;
    font-family : verdana,arial;
}
.colorNavbar {
    background-color: rgb(30, 59, 73);
    font-family : verdana,arial;
}

/*INTEGRADOR JS */
.comprarTickets{
    color: rgb(138, 158, 64);
}
/*.cardCurso{
    border-color: blue;    
}*/
.labelTotal{
    background-color: aquamarine;
    width: 850px;
    height: 40px;
    border: 30px;
    padding-left: 1rem;
}
.labelTotal1{
    /*background-color: aquamarine;
    width: 10px;
    height: 10px;
    border: 30px;
    padding-left: 1rem;*/
    height: 1rem;
}
/*.cardCurso {
    display: grid;
    /*grid-template-columns: 1fr 1fr;
    grid-gap: 0.3rem;
    padding-top: 1rem;
    height: 15rem;
  }*/
  
    
.zoom{
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border-color: blue;
    margin: 0rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.zoom:hover {
transform: scale(1.1);
}

  

